<div *ngIf="hasLocation">
  <div class="location" *ngIf="location">{{ location }}</div>
  <div class="weather" *ngIf="forecast.length; else loading">
    <div class="day" *ngFor="let d of forecast">
      <div class="date">{{ d.dt * 1000 | date:'EEE, MMM d' }}</div>
      <img [src]="iconUrl(d.weather[0].icon)" alt="" />
      <div class="temp">{{ d.temp.day | number:'1.0-0' }}°C</div>
      <div class="desc">{{ d.weather[0].description }}</div>
    </div>
  </div>
  <ng-template #loading>
    Loading weather...
  </ng-template>
</div>
